body {
    background-image: url("https://github.com/hungle913/images/blob/master/ClickyGame/DIY/DIY_Background.jpg?raw=true");
    background-repeat: repeat;
    background-position: center;
    background-size: contain;
}